body {  background: linear-gradient(lightblue, cyan); /* Standard syntax */
  }
	div { text-align: center;}
div.img { 
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 25px;
	float: left; 
	padding: 30px;
  }
img { 
	border-radius: 25px;
	}
aside {
	margin: auto;
	text-align: center;
	border: 1px solid #555;
	border-radius: 25px;
	}
